<div class="row">
       <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/matias.jpg" class="img-fluid" id="fotodeperfil">
       </div>
       <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Matias Sebastian Chocobar</p>
        <p>Full Stack Developer Jr</p>
       </div>
       <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Me estoy especializando en programacion Gracias a mi formación, considero que puedo aportar valor y seguir desarrollándome profesionalmente en una compañía que coincida con mis valores y expectativas.

                Como persona organizada y con una gran motivación, soy capaz de adaptarme a cualquier circunstancia y dar siempre lo mejor de mí en cualquier proyecto, al mismo tiempo que me esfuerzo por trabajar en equipo y fomentar valores como los del compañerismo.</p>
        </span>
       </div>
</div>