<div _ngcontent-gke-c18="" id="carouselExampleInterval" data-bs-ride="carousel" class="carousel slide">
    <div _ngcontent-gke-c18="" class="carousel-inner">
        <div _ngcontent-gke-c18="" data-bs-interval="10000" class="carousel-item active">
            <img _ngcontent-gke-c18="" src="../../../assets/banner14.jpg" alt="..." class="d-block w-100">
        </div><div _ngcontent-gke-c18="" data-bs-interval="2000" class="carousel-item">
            <img _ngcontent-gke-c18="" src="../../../assets/banner10.jpg" alt="..." class="d-block w-100">
        </div><div _ngcontent-gke-c18="" class="carousel-item">
            <img _ngcontent-gke-c18="" src="../../../assets/banner12.gif" alt="..." class="d-block w-100">
        </div>
    </div>
    <button _ngcontent-gke-c18="" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev" class="carousel-control-prev"><span _ngcontent-gke-c18="" aria-hidden="true" class="carousel-control-prev-icon">

    </span>
    <span _ngcontent-gke-c18="" class="visually-hidden">Previous</span>
</button>
<button _ngcontent-gke-c18="" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next" class="carousel-control-next">
    <span _ngcontent-gke-c18="" aria-hidden="true" class="carousel-control-next-icon"></span>
    <span _ngcontent-gke-c18="" class="visually-hidden">Next</span>
</button>
</div>